<DOCTYPE html>
<html>
<head> 
      <title>Health Record App</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <style>
             body{
                 background-color:lightpink;
                 text-align:center;
             }
      </style>
</head>
<body>
    <h1>Welcome to Health Record Keeping App</h1><br><br>
    <div>
        <p> Register as Patient? <a href="/add-patient-details">Patient Registration</a></p>
    </div>
    <div>
        <p> Register as Doctor? <a href="/add-doctor-details">Doctor Registration</a></p>
    </div>
</body>
</html>